body {
}

.calculator {
    width: 200px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.display {
    text-align: right;
    font-size: 2em;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    /* 最小高さを設定して数値がない場合でも高さを維持 */
    min-height: 70px;
    line-height: 1.5; /* テキストの縦方向中央揃え */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* テキストを右揃え */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.rightSideButton{
    background-color : orange;
}

    button:hover {
        background-color: #ccc;
    }
